.autocomplete {
  width: 300px;
  position: relative;

  input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1.15rem;
  }

  .list {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    border: 1px solid #aaa;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
    max-height: 300px;
    overflow: auto;
    background-color: #fff;
    z-index: 1000;
    box-sizing: border-box;
  }

  .listItem {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    display: block;
    cursor: pointer;

    &:hover {
      background-color: #bbb;
      border-bottom: 1px solid #bbb;
    }
  }

  .highlight {
    background-color: yellow;
    color: #333;
  }
}
